extends layout

block content
  h1 Recommended jobs
  div.job-list
    each j in jobs
        div.job
            h3.position
                a(href=j.webUrl, target='_blank') #{j.position.title}
            span.company #{j.company.name}
            p.description !{j.description}