body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p.company {
    font-size: 12px;
    color: #999;
    margin: 5px 0 0 0;
}

a.description-link {
    float: right;
}

.clear {
    clear: both;
}

h1.banner {
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
    margin-top: 50px;
    margin-bottom: 15px;
}

span.matched {
    color: green;
}